* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #7bdaf3;
}

.notes {
  background-color: #fff;
  height: 400px;
  width: 400px;
  margin: 20px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.notes .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.notes .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.notes .main {
  background-color: #eee;
  overflow: hidden;
  height: 400px;
  font-size: 1.2rem;
  width: 100%;
}

.notes textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
}

.notes .hidden {
  display: none;
}

.add {
  background-color: #9ec862;
  margin: 2rem auto;
  color: white;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  border: none;
  border-radius: 3px;
  position: fixed;
  right: 1rem;
  cursor: pointer;
}
